$fonthead: 'Montserrat', sans-serif;
$fontstack: 'Lato', sans-serif;
$colordefault: #000;
$colorpurple: #c76d00;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
    -moz-transition: all $second ease-in-out;
        transition: all $second ease-in-out;
}